/**
// Author: Virginia DeLorenzo
// Creation Date: April 27, 2015
// Note: choose a person to contact
*/

body{
    background:  transparent;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color:white;
	font-family: goudy old style;
    font-size: 1rem;
	
}

#content{

    width: 95%;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 3% auto;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    /* ========================== */
  /* IE10 Consumer Preview */ 
background: url(../images/phonebook.png)black no-repeat;
background-size: 25%;
/*background-image: -ms-radial-gradient(center top, circle farthest-corner, #FF7363 0%, #7585EF 100%);
/* Mozilla Firefox */ 
/*background-image: -moz-radial-gradient(center top, circle farthest-corner, #FF7363 0%, #7585EF 100%);
/* Opera */ 
/*background-image: -o-radial-gradient(center top, circle farthest-corner, #FF7363 0%, #7585EF 100%);
/* Webkit (Safari/Chrome 10) */ 
/*background-image: -webkit-gradient(radial, center top, 0, center top, 479, color-stop(0, #FF7363), color-stop(1, #7585EF));
/* Webkit (Chrome 11+) */ 
/*background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FF7363 0%, #7585EF 100%);
/* W3C Markup, IE10 Release Preview */ 
/*background-image: radial-gradient(circle farthest-corner at center top, #FF7363 0%, #7585EF 100%);

    /* ========================== */    
}

.label{
  text-align: right; 
}

.data{
  font-weight: bold; 
}

#btn{
  background-color: tan;
  width: 30%;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}
#btn:hover{
  text-shadow: 1px 1px 0.5px black;
  box-shadow: 1px 1px 0.5px black;  
}

#btn:active{
  #box-shadow: -1px 1px 0.5px black inset; 
  color: black;

}

#searchDiv>*{
  display: inline-block;
}

#clear{
  border: 1px solid tan;
  background: url(../images/back.jpg) no-repeat;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;  
}

#clear:hover{
  text-shadow: 1px 1px 0.5px black;
  box-shadow: 1px 1px 0.5px black; 
}

#searchText{
  width: 20%;
  background: black;
  text-shadow: 1px 1px 0.5px black;
}

#email, #phone, #lastname, #firstname {
    padding-left: 9%;
}

#email:hover, #phone:hover{
  cursor: pointer;
  color: tan;
  
}


#clearLocal{
    position: absolute;
    bottom: 0;
    right: 0;    
    border-radius: 5px;
    background: #8c3310;
	font-family: lucida;
	color: white;
    padding: 3px;
    cursor: pointer;
}
#clearLocal:active{
    color: yellow;
    text-shadow: 1px 1px 0.5px black;    
    
}







